{% extends "base.html" %}
{% block title %}團隊成員 | Judgement-Prediction{% endblock title %}
{% block page_content %}  
<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">團隊成員</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col ">
      <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="../static/img/冠達.jpg" alt="..." />
        <h1 class="fs-3 fw-bolder">陳冠達</h1>
        <p class="text-50 mb-0">專長: Python, Linux, SQL, Hadoop</p>
        <p><a class="btn btn-secondary" href="https://pda.104.com.tw/profile/share/1YthXXEPnZxedP2LFGP8DwT9o6BLH98S">View details &raquo;</a></p>
      </div>
    </div>
    <div class="col">
      <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="../static/img/彬宸.jpg" alt="..." />
        <h1 class="fs-3 fw-bolder">孫彬宸</h1>
        <p class="text-50 mb-0">專長: Python, NLP, Linux, SQL, Hadoop</p>
        <p><a class="btn btn-secondary" href="mailto:kurt.sun777@gmail.com">View details &raquo;</a></p>
      </div>
    </div>
    <div class="col">
      <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="../static/img/超元.jpg" alt="..." />
        <h1 class="fs-3 fw-bolder">鄭超元</h1>
        <p class="text-50 mb-0">專長: Python, SQL, 統計分析</p>
        <p><a class="btn btn-secondary" href="https://linkedin.com/in/chao-yuan-cheng-543787208">View details &raquo;</a></p>
      </div>
    </div>
    <div class="col">
      <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="../static/img/慎芸.jpg" alt="..." />
        <h1 class="fs-3 fw-bolder">范慎芸</h1>
        <p class="text-50 mb-0">專長: Python, Data Mining, SQL, Linux, d3.js, 統計分析</p>
        <p><a class="btn btn-secondary" href="https://pda.104.com.tw/profile/share/1YU7foCXye8HpDnmFeaxqIQMdJ6oTVNa">View details &raquo;</a></p>
      </div>
    </div>
    <div class="col">
      <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="../static/img/浩綱.jpg" alt="..." />
        <h1 class="fs-3 fw-bolder">呂浩綱</h1>
        <p class="text-50 mb-0">專長: Python, SQL, 數理統計</p>
        <p><a class="btn btn-secondary" href="https://pda.104.com.tw/profile/share/1Yx71euiIjqWaZ6eswNyfdEQDUr6A38X">View details &raquo;</a></p>
      </div>
    </div>
    <div class="col">
      <div class="text-center my-5">
        <img class="img-fluid rounded-circle mb-4" src="../static/img/佳佳.jpg" alt="..." />
        <h1 class="fs-3 fw-bolder">李佳蓁</h1>
        <p class="text-50 mb-0">專長: Python, HTML, CSS, Flask</p>
        <p><a class="btn btn-secondary" href="https://pda.104.com.tw/profile/share/1YW8JB8edo0uTfvqpI0DFR4qyuSQZMUa">View details &raquo;</a></p>
      </div>
    </div>
  </div>
</div>


{% endblock page_content %}